*{
    margin: 0;
    border: 0;
    /* border: solid red; */
}

.whole-container{
    display: flex;
}
#left-color{
    background-image: linear-gradient(blue, hotpink) ;
}
#right-color{
    background-image:linear-gradient(green, darkblue) ;
}
.left-side,
.right-side {
    width: 20vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#right-container,
#left-container {
    margin-top: 5em;
}
.middle {
    width: 60vw;
    height: 100vh;
}
.middle-display {
    font-size:30px;
    text-align:center;
    margin-top: 4em;
    margin-bottom: -3em;
}
#format-wins {
    display:flex
}
.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.playing-field {
        
        height: 100vh;
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, auto);
        cursor:pointer
    }
    .win-counter {
        display: flex;
        justify-content: space-evenly;
        font-size: 25px;
        margin-top: 2em;
    }
     .tile {
    border: solid black;
    width: 18vw;
    height: 18vh;
    font-size: 2em;
    display:flex;
    justify-content:center;
    align-items: center;
}
.X,
.O {
    width:5px;
    height:5px;
   
}
#tile1,
#tile2,
#tile3 {
    border-top: none;
}
#tile3,
#tile6,
#tile9 {
    border-right: none;
}
#tile1,
#tile4,
#tile7 {
    border-left: none;
}
#tile7,
#tile8,
#tile9 {
    border-bottom: none;
}
.ramona-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

.scott-hover:hover::after {
    content: "O";
    opacity: 0.4;
}

.hidden {
    display:none
}